@{
    var semester = ViewBag.SelectType;
}

<div>
    <a asp-controller="Home" asp-action="Data" asp-route-type="semester">
        semester
    </a>

    <a asp-controller="Home" asp-action="Data" asp-route-type="supervisor">
        supervisor
    </a>

</div>
