@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Dashboard</h3>
    <div class="row" style="border-block">
        <div class="col-sm">
            <h4>Average Wage</h4>
        </div>
        <div class="col-sm">
            <h4>Total Employees</h4>
        </div>
        <div class="col-sm">
            <h4>Gender Ratio</h4>
        </div>
    </div>
    @*<p>IS Department TA/RA Database Project</p>*@
</div>
